:root{
    --white: rgb(255, 255, 255);
    --gray: #eceef1;
    --gray2:#e5e7eb;
    --dark: #1d212b;
    --blue: #146dda;
    --grin: #00bd09;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.content{
display: flex;
justify-content:space-around;
align-items: center;
flex-wrap: wrap;
box-sizing: border-box;
}

.content-info{
    width: 600px;
    height:470px;
}

.content-login{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.content-login-box{
background-color: var(--white);
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
padding: 16px;
width: 100%;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 10%)0px 2px 4px,rgba(0, 0, 0, 10%)0px 8px 16px ;
}

.inputs{
padding: 15px;
height: 22px;
border-radius: 6px;
border: 1px solid var(--gray2);
outline: none;
width: 90%;
font-size: 17px;
color:var(--dark);
}

.inputs:focus{
    border-color: var(--blue);
    box-shadow: 0 0 0 2px var(--gray2) ;
}

.btn{
    padding: 15px;
    border: none;
    color: var(--white);
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

a{
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
text-decoration: underline;
}

hr{
    width: 100%;
    border: 1px solid var(--gray2);
}

p{
    text-align: center;
}

.btn-enter{
background-color: var(--blue);
font-size: 19px;
font-weight: 600;
border-radius: 6px;
}
.btn-create{
    background-color:var(--grin) ;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}
h1{
font-family: inherit;
color: var(--blue);
font-size: 64px;
}

h3{
    font-size: 26px;
    font-weight: 500;
}